<main>

  <div class="bg" style="height: 100vh;">
    <div class="container d-flex align-items-center justify-content-end text-center h-100">
      <div class="text-white">
        <h5 class="mb-4">Buy and sell vehicles <em>effortlessly</em></h5>
         <a class="btn btn-outline-light btn-lg m-2" href="/buy"  role="button">Explore More Now</a>
      </div>
    </div>
  </div>


  <section class = "bg-2">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <img class="card-img" src="./images/cardbackgroundroad.jfif" alt="Card image cap"
                style="height: 25rem;">
             

              <a href="/buy" class="btn btn-warning custom mt-3">All Listings</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <img class="card-img" src="./images/cardbackgroundcar.jfif" alt="Card image cap"
                style="height: 25rem;">
             

              <a href="/add" class="btn btn-warning custom mt-3">New Listing</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <img class="card-img" src="./images/cardbackgroundbridge.jfif" alt="Card image cap"
                style="height: 25rem;">
             

              <a href="/mycars" class="btn btn-warning custom mt-3">Your Listings</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  

</main>