  <main>
       
    <div class="bg" style="height: 100vh;">
        <div class="container d-flex align-items-center justify-content-end text-center h-100">
            <div class="text-white">
              <h5 class="mb-4">Buy and sell vehicles <em>effortlessly</em></h5>
              <a class="btn btn-outline-light btn-lg m-2" href="/buy" target="_blank"
                role="button">Explore More Now</a>
            </div>
          </div>
    </div>
    <div class="bg-2" style="height: 100vh;">
        <div class="container d-flex align-items-center justify-content-center text-center h-100 width:">
            <div class="card bg-dark" style="width: 18rem; height: auto; margin: 2rem;">
                <img class="card-img-top" src="./images/cardbackgroundroad.jfif" alt="Card image cap" style="height: 25rem;">
                <div class="card-body">
                <a href="/buy" class="btn btn-warning custom">Buy</a>
                </div>
              </div>
              <div class="card bg-dark" style="width: 18rem; height: auto; margin: 2rem;">
                <img class="card-img-top" src="./images/cardbackgroundcar.jfif" alt="Card image cap" style="height: 25rem;">
                <div class="card-body">
                <a href="/add" class="btn btn-warning custom">Sell</a>
                </div>
              </div>
              <div class="card bg-dark" style="width: 18rem; height: auto; margin: 2rem;">
                <img class="card-img-top" src="./images/cardbackgroundbridge.jfif" alt="Card image cap" style="height: 25rem;">
                <div class="card-body">
                <a href="/login" class="btn btn-warning custom">Login</a>
                </div>
              </div>
        </div>
    </div>
    </main>