<div class="container">
<h1>Login</h1>

<form class = 'loginForm' action = "/register" method = "POST">
    <div>
        <label for = "email">Email</label>
        <input class="form-control" type = "text" name = "email" id = "emailLogin">
    </div>
    <div class = "mb-2">
        <label for = "password">Password</label>
        <input class="form-control" type = "password" name = "password" id = "passwordLogin">
    </div>
    <button type = "submit">Login!</button>
</form>
<a href = "/register">Register</a>

</div>

<script src='/javascript/login.js'></script>